body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
.container {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 30%;
    font-size: 6rem;
    color: white;
    justify-content: center;
}


.box1,
.box5 {
    flex-grow: 1;
    height: 20%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30%;
    flex-wrap: nowrap;
}

.box2,
.box4 {
    background-color: blue;
    flex-grow: 2;
    height: 40%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60%;
    flex-wrap: nowrap;
}

.box3 {
    background-color: rgb(94, 94, 127);
    height: 60%;
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    flex-wrap: nowrap;
}

.box1 {
    background: greenyellow;
}

.box2 {
    background: rgb(67, 67, 140);
}


.box4 {
    background: purple;
}

.box5 {
    background: orange;
}
